#section-one {
    box-shadow: inset 0px 0px 9em 0em;
    background-color: #202020;
}

.gamemaker-programming-text {
    font-size: 2em;
    transition: font-size .1s;
    color: white;
    font-family: 'The Bold Font';
    text-align: center;

}

.gamemaker-programming-text:hover {
    font-size: 2.5em;
    transition: font-size .1s;
}

#gamemaker-word {
    color: lime;
}


