#section-three {
    background-color: rgb(46, 127, 202);
}

#section-three h2 {
    font-family: 'The Bold Font';
    text-align: center;
}

#contacts {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 80%;
}

#contacts button {
    appearance: none;
    background-color: inherit;
    border: none;
}

.contact-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s;
    opacity: 1;
}

.contact-image:hover {
    transform: scale(1.2);
}

